@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
}

/* header and nav starts here */
.nav-container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img{
    width: 48px;
    object-fit: cover;
}

.nav-logo h1{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.travel{
    color: #FF5400;
}

.nav-items a{
    text-decoration: none;
    margin-left: 30px;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
    transition: .4s;
    padding: 0 10px;
}

.nav-items a:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    transform: scale(2);
}

.nav-items .home{
    font-weight: 700;
    color: #FF5400;
}

#nav-icon{
    width: 24px;
    height: 24px;
    display: none;
}
/* header and nav ends here */

/* banner section starts here */
.banner-container{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0) 100%),url(./Images/Group-13.png) ;
    min-height: 500px;
    border-radius: 16px;
}

.banner-main{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    color: #FFFFFF;
    padding-top: 80px;  
    align-items: center;
}

.banner-main h1{
    font-size: 64px;
    font-weight: 800;
}

.banner-main p{
    font-size: 16px;
    font-weight: 400;
    
}

.input-items{
    width: 800px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    background:#13131880 ;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px;
}

.input-items .input input{
    width: 175px;
    height: 52px;
    font-weight: 400;
    padding: 10px;
    border:none;
    border-radius: 8px;
    outline: none;
}

.input-items .btn{
    width: 175px;
    height: 52px;
    font-weight: 700;
    background-color: #FF5400;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    transition: .4s;
}

.input-items .btn:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.btn .search{
    margin-right: 10px;
}
/* banner section ends here */

/* history section starts here */
.history-section{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.history-description{
    width: 48%;
    padding: 20px; 
    height: auto;
}

.history-description h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.history-description p,ul{
    margin-bottom: 24px;
}

.history-description p, li{
    font-size: 16px;
    font-weight: 400;
}

.history-img{
    width: 48%;
    height: 550px;
}

.history-description .btn-primary{
    width: 174px;
    height: 52px;
    background-color: #FF5400;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    transition: .4s;
}

.history-description .btn-primary:hover{
    transform: scale(1.2);
    cursor: pointer;
}
/* history section ends here */

/* destination section starts here */
.destination-section{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
}

.destination-text{
    text-align: center;
    margin-bottom: 48px;
    padding: 10px;
}

.destination-text h1{
    font-size: 40px;
    font-weight: 1000;
    color: #131318;
    margin-bottom: 24px;
}

.destination-text p{
    font-size: 16px;
    font-weight: 400;
    color: #131318B2;
}

.destination-imgs{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 24px;
}

.destination-imgs img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%) 
}

.grid-img-1{
    grid-column: 1/span 6;
}

.grid-img-2{
    grid-column: 7/span 6;
}

.grid-img-3{
    grid-column: 1/span 4;
}

.grid-img-4{
    grid-column: 5/span 4;
}

.grid-img-5{
 grid-column: 9/span 4;
}

.grid-img-6{
    grid-column: 1/span 6;
}

.grid-img-7{
    grid-column: 7/span 6;
}

.grid-items{
    transition: .4s;
    position: relative;
}

.grid-items .text{
    position: absolute;
    font-size: 28px;
    font-weight: 800;
    color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    margin-left: 80px;
}

.grid-items:hover{
    transform: scale(1.1);
    background-color: gray;
}
/* destination section ends here */

/* choose us section starts here */
.choose-us{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
}

.choosing-description{
    text-align: center;
    margin-bottom: 48px;
    padding: 10px;
}

.choosing-description h1{
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    margin-bottom: 20px;
}

.choosing-description p{
    font-size: 16px;
    font-weight: 400;
    color: #131318B2;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cards{
    width: 48%;
    padding: 30px;
    margin-bottom: 10px;
    height: 284px;
    border-radius: 16px;
    transition: .4s;
}

.cards:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}

.cards h1{
    font-size: 24px;
    font-weight: 800;
    margin: 10px 0;
    color: #131318;
}

.cards p{
    font-size: 16px;
    font-weight: 400;
    width: 500px;
    margin-top: 20px;
}

.card-one{
    background-color: #FBB56333;
}

.card-two{
    background-color: #29CEF633;
}

.card-three{
    background-color: #E9444433;
}
/* choose us section ends here */

/* deals and discount starts here */
.deals-discounts{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.deals-discounts *{
    margin-bottom: 20px;
}

.deals-description{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.deals-description h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    color: #131318;
}

.deals-description p{
    font-size: 16px;
    font-weight: 400;
    color: #131318B2;
    margin-bottom: 50px;
}

.deals-one{
    background-image: url(./Images/Group-39.png);
    height: 500px;
    background-repeat: no-repeat;
}

.sub-deals{
    background-color: #FFFFFFCC;
    width: 50%;
    height: 390px;
    border-radius: 16px;
    border: 2px solid white;
    margin:60px 30px;
    padding: 40px;
}
.sub-deals .deals-history{
    display: flex;
    justify-content:flex-start;
    gap: 20px;
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 24px;
}

.sub-deals .deals-history .deals-icon{
    color: #FF5400;
    width: 24px;
    height: 24px;
}

.sub-deals .deals-info h1{
    font-size: 24px;
    font-weight: 800;
    color: #131318;
    margin-bottom: 16px;
}

.sub-deals .deals-info p{
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5D;
    margin-bottom: 16px;
}

.sub-deals .deals-info h2{
    font-size: 20px;
    font-weight: 800;
    color: #FF5400;
    margin-bottom: 24px;
}

.deals-info button{
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background-color: #FF5400;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 800;
    border: none;
    transition: .4s;
}

.deals-info button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.deals-discounts .deals-two{
    background-image: url(./Images/Group-40.png);
    height: 500px;
    background-repeat: no-repeat;
}

.deals-two .sub-deals{
    margin-left:550px;
}
/* deals and discount ends here */

/* newsletter starts here */
.newsletter-container{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.newsletter-main{
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #FF5400;
    border-radius: 16px;
}

.newsletter-main h1{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}

.newsletter-main p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    width: 400px;
}
hr{
    width: 393px;
    margin-bottom: 24px;
    color: #1313181A;
}

.newsletter-main input {
    width: 393px;
    height: 52px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #1313180D;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    outline: none;
}

.newsletter-main .subscribe{
    background-color: #FF5400;
    width: 393px;
    height: 52px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    border: none;
    text-align: center;
    padding:10px;
    transition: .4s;
}

.subscribe:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.newsletter-img{
    width: 58%;
    border-radius: 16px;
    position: relative;
}

.newsletter-img .save {
    width: 324px;
    height: 120px;
    background-color: #FF5400;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    rotate: -20deg;
    position: absolute;
    bottom: 13%;
    left: 50%;
    color: #FFFFFF;
}

.newsletter-img .save p{
    font-size: 24px;
    font-weight: 400;
}

.newsletter-img .save h1{
    font-size: 32px;
    font-weight: 800;
}
/* newsletter ends here */

/* footer starts here */
#footer{
    background-color: #1313180D;
    padding-bottom: 40px;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
    height: 400px;
    padding-top: 110px;
}

.footer-main{
    display: flex;
}

.footer-main img{
    width: 40px;
    height: 45px;
    margin-right: 20px;
}

.footer-main h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}

.footer-container p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 33px;
    text-align: center;
}

.footer-icons .fa-brands{
    font-size: 40px;
    margin-right: 20px;
    margin-bottom: 50px;
    transition: .4s;
}

.icons-style:hover{
    background-color: gray;
    transform: scale(1.2);
    border-radius: 10px;
}

.footer-container hr{
    margin-bottom: 50px;
}

.footer-container .footer-end{
    font-size: 25px;
    font-weight: 300;
}
/* footer ends here */

/* responsive starts here */
@media only screen and (max-width:600px){
    .nav-container{
        width: 100%;
    }
    .nav-logo img{
        width: 29px;
        height: 33px;
        object-fit: cover;
    }
    .nav-logo h1{
        font-size: 22px; 
    }
    .nav-items a{
        display: none;
    }
    #nav-icon{
        display: block;
    }

    .banner-container{
        width:100%
    }

    .banner-main h1{
        width: 205px;
        height: 28px;
        font-size: 22px;
    }
    .banner-main p{
        width: 304px;
        font-size: 14px;
    }
    .input-items{
            width: 80%px;
            height: 250px;
            padding: 10px;
            font-size: 8pxpx;
            flex-direction: column;
    }
    .input-items .input{
        margin: 16px;
    }
    .input-items .input input{
        width: 350px;
        height: 52px;
    }

    .input-items .btn{
        width: 350px;
        height: 52px;
    }
    .history-section{
       width: 100%;
       flex-direction: column;
       margin-top: 24px;
    }
    .history-description{
        width: 100%;
    }
    .history-section .history-img{
        width: 100%;
        margin-top: 24px;
    }

    .destination-text h1{
        font-size: 20px;
    }

    .destination-text p{
        font-size: 14px;
    }

    .destination-imgs{
        grid-template-columns: repeat(1,1fr);
    }

    .grid-img-1{
        grid-column: 1/span 1;
    }
    
    .grid-img-2{
        grid-column: 1/span 1;
    }
    
    .grid-img-3{
        grid-column: 1/span 1;
    }
    
    .grid-img-4{
        grid-column: 1/span 1;
    }
    
    .grid-img-5{
     grid-column: 1/span 1;
    }
    
    .grid-img-6{
        grid-column: 1/span 1;
    }
    
    .grid-img-7{
        grid-column: 1/span 1;
    }

    .choosing-description h1{
        font-size: 20px;
    }

    .choosing-description p{
        font-size: 14px;
    }

    .card-container{
        flex-direction: column;
        width: 100%;
    }

    .cards{
        width: 100%;
    }
    .cards img{
        width: 48px;
        height: 48px;
    }
    .cards h1{
        font-size: 20px;
    }
    .cards p{
        font-size: 14px;
    }
    .deals-description h1{
        font-size: 20px;
    }
    .deals-description p{
        font-size: 14px;
    }
    /* .deals-items{
        width: 80%px;
        height: 100%px;
    }
    .sub-deals{
        width: 100%;
    } */
    .newsletter-container{
        flex-direction: column;
    }
    .newsletter-main{
        width: 100%;
        height: 400px;
        align-items: center;
    }
    .newsletter-main h1{
        font-size: 20px;
    }
    .newsletter-main p{
        font-size: 14px;
    }
    .newsletter-img{
        width: 100%;
        margin-top: 24px;
    }
    .newsletter-img img{
        width: 100%;
    }
    .newsletter-img .save {
        width: 200px;
        height: 80px;
        left: 42%;
        bottom: 14%;
    }
    .newsletter-img .save p{
        font-size: 14px;
    }
    .newsletter-img .save h1{
        font-size: 20px;
    }
    #footer{
        width: 100%;
    }
    .footer-container{
        width: 100%;
    }
    .footer-main{
        /* align-items: center; */
        text-align: center;
    }
    .footer-main img{
        width: 40px;
        height:40px;
    }
    .footer-main h1{
        font-size: 20px;
    }
}
/* responsive ends here */