@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
}

/* header and nav starts here */
.nav-container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img{
    width: 48px;
    object-fit: cover;
}

.nav-logo h1{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.travel{
    color: #FF5400;
}

.nav-items a{
    text-decoration: none;
    margin-left: 30px;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
    transition: .4s;
    padding: 0 10px;
}

.nav-items a:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
}

.nav-items .home{
    font-weight: 700;
    color: #FF5400;
}
/* header and nav ends here */

/* banner section starts here */
.banner-container{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0) 100%),url(./Images/Group-13.png) ;
    min-height: 500px;
    border-radius: 16px;
}

.banner-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: #FFFFFF;
    padding-top: 80px;
    
}

.banner-main h1{
    font-size: 64px;
    font-weight: 800;
}

.banner-main p{
    font-size: 16px;
    font-weight: 400;
}

.input-items{
    width: 800px;
    height: 85px;
}
/* banner section ends here */

/* history section starts here */
.history-section{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.history-discription{
    width: 48%;
    padding: 20px; 
    height: auto;
}

.history-discription h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.history-discription p,ul{
    margin-bottom: 24px;
}

.history-discription p, li{
    font-size: 16px;
    font-weight: 400;
}

.history-img{
    width: 48%;
    height: 550px;
}

.history-discription .btn-primary{
    width: 174px;
    height: 52px;
    background-color: #FF5400;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}
/* history section ends here */

/* destination section starts here */
.destination-section{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
}

.destination-text{
    text-align: center;
    margin-bottom: 48px;
    padding: 10px;
}

.destination-text h1{
    font-size: 40px;
    font-weight: 1000;
    color: #131318;
    margin-bottom: 24px;
}

.destination-text p{
    font-size: 16px;
    font-weight: 400;
    color: #131318B2;
}

.destination-imgs{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 24px;
}

.destination-imgs img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.grid-img-1{
    grid-column: 1/span 6;
}

.grid-img-2{
    grid-column: 7/span 6;
}

.grid-img-3{
    grid-column: 1/span 4;
}

.grid-img-4{
    grid-column: 5/span 4;
}

.grid-img-5{
 grid-column: 9/span 4;
}

.grid-img-6{
    grid-column: 1/span 6;
}

.grid-img-7{
    grid-column: 7/span 6;
}

.grid-items{
    transition: .4s;
}

.grid-items:hover{
    transform: scale(1.2);
    background-color: gray;
}
/* destination section ends here */

/* choose us section starts here */
.choose-us{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
}

.choosing-description{
    text-align: center;
    margin-bottom: 48px;
    padding: 10px;
}

.choosing-description h1{
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}

.choosing-description p{
    font-size: 16px;
    font-weight: 400;
    color: #131318B2;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cards{
    width: 48%;
    padding: 15px;
    margin-bottom: 10px;
    height: 284px;
    border-radius: 16px;
    transition: .4s;
}

.cards:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}

.cards h1{
    font-size: 24px;
    font-weight: 800;
    margin: 10px 0;
    color: #131318;
}

.cards p{
    font-size: 16px;
    font-weight: 400;
}

.card-one{
    background-color: #FBB56333;
}

.card-two{
    background-color: #29CEF633;
}

.card-three{
    background-color: #E9444433;
}
/* choose us section ends here */

/* newsletter starts here */
.newsletter-container{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    

}

.newsletter-main{
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #FF5400;
    border-radius: 16px;
}

.newsletter-main h1{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}

.newsletter-main p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
hr{
    width: 393px;
    margin-bottom: 24px;
    color: #1313181A;
}

.newsletter-main input {
    width: 393px;
    height: 52px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #1313180D;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
}

.newsletter-main .subscribe{
    background-color: #FF5400;
    width: 393px;
    height: 52px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    border: none;
    text-align: center;
    padding:10px;
    transition: .4s;
}

.subscribe:hover{
    transform: scale(0.9);
}

.newsletter-img{
    width: 58%;
    border-radius: 16px;
}
/* newsletter ends here */

/* footer starts here */
#footer{
    background-color: #1313180D;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
    height: 400px;
    padding-top: 110px;
}

.footer-main{
    display: flex;
}

.footer-main img{
    width: 40px;
    height: 45px;
    margin-right: 20px;
}

.footer-main h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}

.footer-container p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 33px;
}

.footer-icons .fa-brands{
    font-size: 40px;
    margin-right: 20px;
    margin-bottom: 50px;
    transition: .4s;
}

.icons-style:hover{
    background-color: gray;
    transform: scale(1.2);
    border-radius: 10px;
}

.footer-container hr{
    margin-bottom: 50px;
}

.footer-container .footer-end{
    font-size: 25px;
    font-weight: 300;
}
/* footer ends here */